---
title: About
description: We've built an amazing team of developers, marketers, designers and sales people.
image: https://source.unsplash.com/BcoGknSqlDc/2000x1322?a=.png
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Our E-Board</h1>
			<p class="subtext editable">We have an extremely talented team that works hard to create and maintain the growing community of SHPE MDC </p>
		</div>
	</div>
</section>

<section class="pad">
	<div class="container">
		<p class="editor-link"><a href="cloudcannon:collections/_staff_members" class="btn"><strong>&#9998;</strong> Manage Staff Members</a></p>
		<ul class="staff">
			{% for person in site.staff_members %}
				<li>
					<div class="square-image" style="background-image: url({% include relative-src.html src=person.image_path %})"></div>
					<div class="name"><p>{{ person.name }}</p></div>
					<div class="position">{{ person.position }}</div>
					<div class="about"><p>{{ person.about }}</p></div>
					<div class="position"><a href="https://{{ person.web }}/">{{ person.web }}</a></div>
					<div class="position">
						{% if person.mail %}<a href="mailto:{{ person.mail }}"><img src="https://png.icons8.com/ios-glyphs/25/333333/secured-letter.png" alt="email logo"></a>{% endif %}
						{% if person.twitter %}<a href="https://twitter.com/{{ person.twitter }}"><img src="https://png.icons8.com/color/25/333333/twitter.png" alt="twitter logo"></a>{% endif %}
						{% if person.github  %}<a href="https://github.com/{{ person.github }}"><img src="https://png.icons8.com/ios/25/333333/github-filled.png" alt="github logo"></a>{% endif %}
						{% if person.linkedin  %}<a href="https://linkedin.com/in/{{ person.linkedin }}"> <img src="https://png.icons8.com/color/25/333333/linkedin.png" alt="linkedin logo"></a>{% endif %}
						{% if person.stackoverflow  %}<a href="https://stackoverflow.com/users/{{ person.stackoverflow }}?tab=profile"> <img src="https://png.icons8.com/color/25/333333/stackoverflow.png" alt="stackoverflow logo"></a>{% endif %}

					</div>
<!--
					{% if person.github  %}<div class="position"></a></div> {% endif %}
					{% if person.linkedin  %}<div class="position"><a href="https://linkedin.com/in/{{ person.linkedin }}"> <img src="https://png.icons8.com/color/25/333333/linkedin.png" alt="linkedin logo"></a></div> {% endif %} -->

				</li>
			{% endfor %}
		</ul>
	</div>
</section>
