---
title: Home
description: The Miami Dade College Hialeah Campus SHPE organization website.
image: https://source.unsplash.com/j5LSbCqB1wA/2000x1322?a=.png
bottom_image: https://cdn.shpe.ga/events/shpe-event-2017.jpg
---

<section class="hero" style="background-image: url({% include relative-src.html src=page.image %})">
	<div class="inner-hero text-container">
		<div class="hero-text-container">
			<h1 class="editable">Be part of SHPE MDC</h1>
			<p class="subtext editable">The Society of Hispanic Professional Engineers (SHPE) MDC is a chapter of a national organization headquartered at Miami Dade College - Hialeah Campus.</p>
			<div class="cta button alt"><a href="https://sharknet.mdc.edu/organization/shpe">Join Now</a></div>
		</div>
	</div>
	<div class="learn-more"><a href="#learn-more">Learn more <span class="arrow">&#x25BC;</span></a></div>
</section>

<div class="content">
	<section class="info" id="learn-more">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Shape History</h2>
				<p class="editable">The Society of Hispanic Professional Engineers (SHPE) was founded in Los Angeles, California, in 1974 by a group of engineers employed by the city of Los Angeles. Their objective was to form a national organization of professional engineers to serve as role models in the Hispanic community.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://cdn.shpe.ga/shpe-name.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Our Mision</h2>
				<p class="editable">SHPE changes lives by empowering the Hispanic community to realize its fullest potential and to impact the world through STEM awareness, access, support and development.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://cdn.shpe.ga/shpe.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="info">
		<div class="container flex">
			<div class="text">
				<h2 class="editable">Our Vision</h2>
				<p class="editable">SHPE's vision is a world where Hispanics are highly valued and influential as the leading innovators, scientists, mathematicians and engineers.</p>
			</div>
			<div class="image">
				<img class="editable" src="https://cdn.shpe.ga/miami-dade-college.png" alt="Screenshot" />
			</div>
		</div>
	</section>

	<section class="hero" style="background-image: url({% include relative-src.html src=page.bottom_image %})">
		<div class="inner-hero text-container">
			<div class="hero-text-container">
				<h2 class="editable">Let's Join MDC SHPE</h2>
				<p class="subtext editable">It's fun and an exciting way to meet new people.</p>
				<div class="cta button alt"><a href="https://sharknet.mdc.edu/organization/shpe">Join Now</a></div>
			</div>
		</div>
	</section>
</div>
