.staff {
	padding: 0;
	margin: 0;
	list-style: none;
	@extend %flexbox;
	@include flex-flow(wrap);
	text-align: center;
	li {
		padding: 30px 20px;
		box-sizing: border-box;
		width: 100%;

		@media #{$tablet} {
			@include flex(1, 1, 50%);
		}

		@media #{$desktop} {
			@include flex(1, 1, 33%);
		}

	}

	.name {
		margin-top: 20px;
	}

	.position {
		color: #63676d;
		font-size: .8em;
	}

	.about {
		color: #63676d;
		font-size: .5em;
	}

	.social {
		font-size: 27px;
	}

	.fas, .fab {
  		margin: 0.7em;
	}

	.fa-envelope {
		color: #7d8084;
	}

	.fa-twitter {
		color: #55acee;
	}

	.fa-github {
		color: #333;
	}

	.fa-linkedin {
		color: #0976b4;
	}

	.fa-stack-overflow {
		background: -webkit-gradient(linear, left top, right bottom, from(#fe7a15), to(gray));
    	-webkit-background-clip: text;
    	-webkit-text-fill-color: transparent;
    	display: initial;
	}
}
